
@keyframes inleft {
    from{transform: rotateY(90deg); transform: translateX(-150px);}
    to{transform: rotateY(0deg); transform: translateX(0px);}
}

@keyframes inright {
    from{transform: rotateY(-90deg); transform: translateX(150%);}
    to{transform: rotateY(0deg); transform: translateX(100%);}
}

@keyframes inn {
    0%{scale: 0%;}
    50%{scale: 200%;}
    100%{scale: 100%;}
    
}

@font-face {
    font-family: 'magic';
    src: url('magic.ttf');}

@font-face {
    font-family: 'saint';
    src: url('saint1.otf');}

html {
    scroll-behavior: smooth;
    width: 100%;
    padding: 0;
    margin: 0px;
}

body{
    background-color: rgb(41, 41, 41);
    overflow-x: hidden;
    padding: 0px;
}
.title{
    text-align: center;
    font-family: saint;
    font-size: 9vw;
    color: white;
    transition: 2s;
    animation: inn 2s;
    margin-bottom: 0px;
}
.title:hover{
    color: red;
}

.titlesub{
    color:#A47449;
    margin-top: 0px;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 0px;
    transition: 3s;
    animation: inn 2s ease-in;
}

.titlesub:hover{
    color: white;
    font-size: 2vw;
}

.tletitle{
    position: absolute;
    width: 100%;
    top: 10vw;
    align-items: center;
    text-align: center;
    margin: auto;

}

.logs{
    position: absolute;
    left: 10px;
    top: 0px;
    margin-right: 80%;
    display: inline-flex;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 0px;
    margin-right: 0px;
}

.title1 {
    color: red;
    left: 10px;
    margin-bottom: 0px;
    font-family: saint;
    font-size: 25px;
    text-shadow: none;
    transition: 3s;
}

.title1:hover{
    font-size: 30px;
    text-shadow: 5px 5px 25px white;
}

.title1sub{
    color: burlywood;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0%;
    
}

a, u{
    text-decoration: none;
}

.span1{
    margin-right: 20%;
    margin-left: 10px;
    position: fixed;
}

.link{
    color: #A47449;
    font-size: 20px;
    transition: 1.2s;
}

.link:hover{
    color: red;
    font-size: 25px;
    font-weight: bolder;
}

.span2{
    margin: auto;
    position: fixed;
    text-decoration: none;
    top: 30px;
    left: 100px;
    display: block;
    animation: inright 5s forwards;
    -webkit-animation: inright 5s forwards;
}

.videoback{
    width: 100vw;
    height: auto;
    padding: 0px;
    position: relative;
    left: -20px;
    top: -5px;
    margin: 0px;
    transition: 3s;
    opacity: .5;
}
.videoback:hover{
    filter: blur(3px);
    opacity: 1;
}

.video{
    align-items: center;
    text-align: center;
    display: block;
}
.container{
    width: 100%;
    background-color: rgb(41, 41, 41);
    height: auto;
    align-items: center;
    align-content: center;
    margin-bottom: 100vw;
}

.pianopictitle,
.pianopictitlesub{
    color: green;
}

.instrumentback{
    width: 100%;
    filter: blur(5px);
    transition: 2s;
    border-radius: none;
}

.instrumentback:hover{
    filter: blur(1px);
    width: 98%;
    border-radius: 1vw;
    margin-left: 5px;
}
.deta{
    text-align: center;
    margin: auto;
}

.detatitle{
    color: white;
    margin: 100px;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view(entry);
}

@keyframes fade-in {
    to{opacity: 1; scale: 2;}
}

.detacontainer1{
    background-color: black;
    width: 50%;
    text-align: left;
    padding: 3vw;
    border-radius: 2vw;
    transition: 2s;
    display: inline-block;
    margin: 50px;
}

.detacontainer1:hover{
    background-color: aqua;
    padding: 4vw;
    border-radius: 12vw;
}

.detacontainer2{
    background-color: black;
    width: 50%;
    text-align: left;
    padding: 3vw;
    border-radius: 2vw;
    transition: 2s;
    display: inline-table;
    margin: 50px;
}

.detacontainer2:hover{
    background-color: lightgreen;
    padding: 4vw;
    border-radius: 12vw;
}

.detacontainer3{
    background-color: black;
    width: 50%;
    text-align: left;
    padding: 3vw;
    border-radius: 2vw;
    transition: 2s;
    display: inline-block;
    margin: 50px;
}

.detacontainer3:hover{
    background-color: rgb(225, 255, 92);
    padding: 4vw;
    border-radius: 12vw;
}


.detacontainer1title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}
.detacontainer2title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

.detacontainer3title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

.detacontainerrdata{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.deta1{
    max-width: fit-content 100%;
    margin: 20%;
    text-align: center;
}
.deta1data{
    color: white;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif
}
.containerscontainer{
    overflow: i;
    display: flex;
    width: 100%;
    align-items: center;
    white-space: nowrap;

}

.containerscontainer1 {
    width: 99vw;
    height: 30vw;
    display: inline;
    background-color: rgb(30, 30, 30);
    border-radius: 2vw;
    -webkit-border-radius: 2vw;
    -moz-border-radius: 2vw;
    -ms-border-radius: 2vw;
    -o-border-radius: 2vw;
    margin: 30px;
    box-shadow: 0px 5px  20px rgb(112, 110, 110);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    filter: blur(2px);
}

.containerscontainer1:hover {
    width: 107vw;
    height: 54vw;
    box-shadow: 0px 5px  40px rgb(158, 157, 157);
    filter: brightness(2);
    filter: blur(0);
    -webkit-filter: blur(0);
}

.containerscontainer2 {
    width: 99vw;
    height: 30vw;
    display: inline-flex;
    background-color: rgb(30, 30, 30);
    border-radius: 2vw;
    -webkit-border-radius: 2vw;
    -moz-border-radius: 2vw;
    -ms-border-radius: 2vw;
    -o-border-radius: 2vw;
    margin: 30px;
    box-shadow: 0px 5px  20px rgb(112, 110, 110);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    filter: blur(2px);
}

.containerscontainer2:hover {
    width: 107vw;
    height: 54vw;
    box-shadow: 0px 5px  40px rgb(158, 157, 157);
    filter: brightness(2);
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.containerscontainer3 {
    width: 99vw;
    height: 30vw;
    display: inline;
    background-color: rgb(30, 30, 30);
    border-radius: 2vw;
    -webkit-border-radius: 2vw;
    -moz-border-radius: 2vw;
    -ms-border-radius: 2vw;
    -o-border-radius: 2vw;
    margin: 30px;
    box-shadow: 0px 5px  20px rgb(112, 110, 110);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    filter: blur(2px);
}

.containerscontainer3:hover {
    width: 107vw;
    height: 54vw;
    box-shadow: 0px 5px  40px rgb(158, 157, 157);
    filter: brightness(2);
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.inst1{
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: inline;
    margin: 5px;
    padding: 10px;
}

.inst{
    width: 87%;
    height: 94%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: inline;
    padding: 10px;
}
.vidandtextile,
.notes {
    width: 100vw;
    display: block;
    margin: none;
    padding: 0;
    position: relative;
    left: -20px;
}

.notediv {
    text-align: center;
}

.notetitle {
    color: white;
    font-size: 10vw;
    position: relative;
    top: -43vw;
}
.notetitlesub {
    color: white;
    position: relative;
    top: -50vw;
    color: #ca9a70;
}

.informations {
    text-align: left;
    padding-right: 16%;
    padding-left: 20%;
    margin-bottom: 150px;
}
.informationtext {
    font-size: 25px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(179, 179, 179);
    margin: 0;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@keyframes shadew {
    0% {text-shadow: 0px 0px 0px black;}
    50%{text-shadow: 0px 0px 40px white;}
    100% {text-shadow: 0px 0px 0px black;}
}

.footertitle {
    text-align: center;
    color: red;
    animation: shadew 3s linear infinite;
    position: relative;
    left: 35%;
    -webkit-animation: shadew 3s linear infinite;
}

.infoo {
    font-size: 17px;
    margin-bottom: 50px;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.infoo:active{
    background-color: white;
    font-size: 100vw;
    color: white;
}

.infoodiv {
    margin-bottom: 50px;
    padding-bottom: 5%;
}

.footerdiv {
    background-color: rgb(30, 30, 30);
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.reddot {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 5px;
}

.orangedot {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 5px;
}

.greendot {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 5px;
}